@charset "UTF-8";

body {background-color: #ffffff; font-family: 'NanumS'; font-weight: 700;}
body, html {width: 100%;}

#wrap {width: 100%;}

/* 상단 헤더영역 */
#wrap header {border-bottom: 1px solid #ddd;}
.header-wrap {position: relative; width: 1100px; height: 120px; margin: 0 auto; box-sizing: border-box;}
.header-wrap h1 {padding-top: 40px;}
.header-wrap h1 a {display: block; width: 180px; height: 58px; padding-left: 65px; font-family: 'NanumSB'; font-weight: 700; color: #162a6c; background: url('../images/logo.png') 0 0 no-repeat; background-size: 58px 58px; box-sizing: border-box;}
.header-wrap h1 a span{display: block; padding-top: 21px;}
.header-wrap nav {}
.header-wrap nav .gnb {position: absolute; top: 75px; right: 65px;}
.header-wrap nav .gnb li {float: left; padding-right: 45px;}
.header-wrap nav .gnb li:after {clear: both; content: ''; display: block;}
.header-wrap nav .gnb li:last-child {padding-right: 0;}
.header-wrap nav .gnb li.depth-one {}
.header-wrap nav .gnb li.depth-one a {font-size: 18px; color: #292929; font-weight: 700;}
.header-wrap nav .gnb li.depth-one > ul{display: none;}
.header-wrap nav .gnb li ul li {}

/* 사용자메뉴 */
.header-wrap .lnb-wrap {position: absolute; top: 40px; right: 70px;}
.header-wrap .lnb-wrap li {float: left; padding: 0 10px; border-right: 1px solid #ddd; line-height: ;}
.header-wrap .lnb-wrap li:after {clear: both; content: ''; display: block;}
.header-wrap .lnb-wrap li:last-child {padding: 0 0 0 10px; border-right: none;}
.header-wrap .lnb-wrap li a {display: block; font-size: 13px; }
.header-wrap .lnb-wrap li .btn-mypage {width: 14px; height: 16px; background: url('../images/ico_mypage.png') 0 0 no-repeat; background-size: 100%;}
.btn-gnb {position: absolute; display: block; right: 0; top: 65px; width: 42px; height: 42px; padding: 6px 9px;background-color: #397dd1; box-sizing: border-box;}
.btn-gnb span {display: block; width: 24px; height: 2px; background-color: #fff; margin: 6px 0; transition: 0.4s;}
.btn-gnb.active .gnb-bar1 {-webkit-transform: rotate(-45deg) translate(-5px, 6px); transform: rotate(-45deg) translate(-5px, 6px); }
.btn-gnb.active .gnb-bar2 {opacity: 0;}
.btn-gnb.active .gnb-bar3 {-webkit-transform: rotate(45deg) translate(-5px, -6px); transform: rotate(45deg) translate(-5px, -7px); }

/* 본문 컨텐츠 */
#wrap .container {}
#wrap .container .content {width: 1100px; margin: 0 auto; min-height: 800px;}
#wrap.main .container .content {width: 100%;}

/* 메인 이미지슬라이드 */
.main-visual {width: 1100px; margin: 0 auto;}
.main-visual .slider {}
.main-visual .slider .item {height: 350px; box-sizing: border-box;}
.main-visual .slider .item:after {display: block; content: ''; clear: both;}
.main-visual .slider .item .item-text {float: left; width: auto; padding-top: 100px; letter-spacing: -0.05em;}
.main-visual .slider .item .item-text li {line-height: 47px;}
.main-visual .slider .item .item-text li a.icon-arrow {display: block; width: 45px; height: 45px; border-radius: 23px; margin-top: 20px; background: url('../images/arrow_right01.png') 50% 50% no-repeat #ddd; background-size: 20px 28px;}
.main-visual .slider .item .item-text li:nth-child(1) {font-size: 15px; color: #767676; font-weight: 400;}
.main-visual .slider .item .item-text li:nth-child(2) {font-size: 40px; color: #292929; font-weight: 400;}
.main-visual .slider .item .item-text li:nth-child(3) {font-size: 40px; color: #387cd1; font-family: 'NanumSB'; font-weight: 400;}
.main-visual .slider .item .item-img {float: right; padding-right: 20px; padding-top: 50px;}
.main-visual .slider .item .item-img img {width: auto;}

/* 메인 포트폴리오 */
.main-portfolio {width: 100%; height: 300px; background: url('../images/img_mainbar.png') 50% 0 no-repeat;}
.main-portfolio .port-wrap{position: relative; width: 1100px; margin: 0 auto;}
.main-portfolio .port-wrap .port-text {color: #fff; font-size: 40px; padding-top: 65px; box-sizing: border-box;}
.main-portfolio .port-wrap .port-text p {line-height: 45px; font-weight: 400;}
.main-portfolio .port-wrap .port-text p span {font-family: 'NanumSB'; font-weight: 400;}
.main-portfolio .port-wrap .port-text p span.small {font-family: 'NanumS'; font-weight: 400; font-size: 14px;}
.main-portfolio .port-wrap .port-img {position: absolute; left: 350px; top: 60px;}
.main-portfolio .port-wrap .port-img li {position: relative; float: left; width: 0; height: 0; border-right: 158px solid #fff; z-index: 1;}
.main-portfolio .port-wrap .port-img li:nth-child(1) {margin-top: 40px; border-bottom: 170px solid #f5f5f5;}
.main-portfolio .port-wrap .port-img li:nth-child(1) p.tit:before {display: block; content: ''; width: 158px; height: 85px; margin-top: 40px; background: url('../images/ico_port01.png') 50% 0 no-repeat; background-size: 60px 62px;}
.main-portfolio .port-wrap .port-img li:nth-child(2) {margin-top: 20px; border-bottom: 190px solid #f5f5f5;}
.main-portfolio .port-wrap .port-img li:nth-child(2) p.tit:before {display: block; content: ''; width: 158px; height: 85px; margin-top: 60px; background: url('../images/ico_port02.png') 50% 0 no-repeat; background-size: 60px 62px;}
.main-portfolio .port-wrap .port-img li:nth-child(3) {border-bottom: 210px solid #f5f5f5;}
.main-portfolio .port-wrap .port-img li:nth-child(3) p.tit:before {display: block; content: ''; width: 158px; height: 95px; margin-top: 70px; background: url('../images/ico_port03.png') 50% 0 no-repeat; background-size: 60px 62px;}
.main-portfolio .port-wrap .port-img li:after {display: block; clear: both; content: '';}
.main-portfolio .port-wrap .port-img li p {}
.main-portfolio .port-wrap .port-img li span.num {position: absolute; left: 56px; display: block; margin: -23px auto; width: 45px; height: 45px; line-height: 45px; color: #fff; font-size: 26px; font-family: 'NanumSB'; border-radius: 25px; text-align: center; background-color: #397dd1;}
.main-portfolio .port-wrap .port-img li p.tit {position: relative; width: 158px; text-align: center; font-size: 16px; color: #292929; z-index: 99;}
.main-portfolio .port-wrap .port-img li p.tit span {text-align; font-family: 'NanumSB';}
.main-portfolio .port-wrap .port-img a.btn-send {display: block; height: 70px; line-height: 70px; margin-top: 210px; text-align: center; font-size: 22px; font-family: 'NanumSB'; color: #fff; background-color: #f1bf20; }

/* 메인 주요서비스 */
.main-service {position: relative; width: 1100px; margin: 100px auto 0;}
.main-service h2 {font-size: 25px; height: 45px; line-height: 45px; font-family: 'NanumSB'; font-weight: 400; color: #292929;}
.main-service .btn-more{position: absolute; display: block; right: 0; top: 12px; font-size: 16px; font-weight: 700; padding-right: 17px; background: url('../images/arrow_bottom01.png') right 8px no-repeat; background-size: 10px 8px;}
.main-service ul {border: 4px solid #ddd; padding: 20px 0;}
.main-service li {display: inline-block; width: 24%; text-align: center; box-sizing: border-box;}
.main-service li a {position: relative; display: inline-block; padding-right: 30px; font-size: 20px; font-weight: 700; color: #666; }
.main-service li a:after{display: block; content: ''; position: absolute; top: 5px; right: 0; width: 20px; height: 20px; border-radius: 10px; border: 1px solid #ddd; background: url('../images/arrow_right02.png') 50% 50% no-repeat; background-size: 9px 11px;}

/* 공지사항 + 부동산 */
.board-wrap {width: 1100px; height: 255px; margin: 0 auto;}
.board-wrap:after {clear: both; display: block; content: '';}
.board-wrap .main-board {float: left; width: 500px; padding-top: 60px;}
.board-wrap .main-board .btn-more {}

/* 메인 탭메뉴 */
.main-board ul.tabs {margin: 0; padding: 0; height: 34px; border-left: 1px solid #ddd; width: 100%; }
.main-board ul.tabs li {position: relative; float: left; text-align:center; cursor: pointer; width:25%; height: 35px; line-height: 35px; font-size: 16px; color: #292929; border: 1px solid #ddd; border-left: none; font-weight: bold; background: #fafafa; overflow: hidden; box-sizing: border-box;}
.main-board ul.tabs li.active {background: #FFFFFF; border-bottom: 1px solid #FFFFFF; }
.main-board .tab_container {border-top: none; clear: both; float: left; width: 100%; background: #FFFFFF; }
.main-board .tab_content {padding: 15px; font-size: 16px; color: #767676; display: none; }
.main-board .tab_container .tab_content ul {width:100%; margin:0px; padding:0px; }
.main-board .tab_container .tab_content ul li {padding-bottom: 3px;}
.main-board .tab_container .tab_content ul li:after {content: ''; display: block; clear: both;}
.main-board .tab_container .tab_content ul li a{display: inline-block; float: left; width: 350px; font-weight: 700; color: #767676; overflow: hidden; box-sizing: border-box; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; text-overflow: ellipsis;}
.main-board .tab_container .tab_content ul li span {float: right; font-weight: 700; color: #767676;}

/* 부동산 */
.main-estate {float: right; width: 530px; padding-top: 40px;}
.main-estate h3 {float: left; width: 210px; height: 158px; padding: 53px 0 0 58px; background: url('../images/img_home.png') 0 0 no-repeat; background-size: 171px 158px; box-sizing: border-box;}
.main-estate h3 span {font-size: 18px; color: #292929; display: inline-block; padding-bottom: 5px;}
.main-estate h3 span + span {font-size: 26px; font-weight: 400; line-height: 25px;}
.main-estate h3 span span{font-size: 26px; font-family: 'NanumSB';}
.main-estate .btn-wrap {float: right; width: 300px; padding-top: 20px;}
.main-estate .btn-wrap li {float: left; width: 50%; height: 60px; line-height: 60px; padding-left: 60px; box-sizing: border-box;}
.main-estate .btn-wrap li:nth-child(1) {background: url('../images/ico_estate01.png') 0 50% no-repeat; background-size: 41px 39px; border-bottom: 1px solid #ddd;}
.main-estate .btn-wrap li:nth-child(2) {background: url('../images/ico_estate02.png') 0 50% no-repeat; background-size: 41px 39px; border-bottom: 1px solid #ddd;}
.main-estate .btn-wrap li:nth-child(3) {background: url('../images/ico_estate03.png') 0 50% no-repeat; background-size: 41px 39px;}
.main-estate .btn-wrap li:nth-child(4) {background: url('../images/ico_estate04.png') 0 50% no-repeat; background-size: 41px 39px;}
.main-estate .btn-wrap li a {font-size: 15px; color: #767676; font-weight: 700;}

/* 추천상품 */
.main-recommand {background-color: #f2f4f6; padding: 40px 0 80px;}
.main-recommand h2 {padding-bottom: 30px; font-size: 32px; text-align: center; font-weight: 400; letter-spacing: -0.05em;}
.main-recommand h2 span {font-family: 'NanumSB';}
.main-recommand .recommand-visual {width: 1010px; margin: 0 auto;}
.main-recommand .recommand-visual .slider {}
.main-recommand .recommand-visual .slider .item {position: relative; height: 260px; border: 1px solid #292929; box-sizing: border-box;}
.main-recommand .recommand-visual .slider .item.item-01 {background-color: #397dd1;}
.main-recommand .recommand-visual .slider .item.item-02 {background-color: #162a6c;}
.main-recommand .recommand-visual .slider .item.item-03 {background-color: #46494d;}
.main-recommand .recommand-visual .slider .item li {text-align: center; color: #fff; line-height: 35px;}
.main-recommand .recommand-visual .slider .item li:nth-child(1) {font-size: 16px;padding-top: 20px;}
.main-recommand .recommand-visual .slider .item li:nth-child(2) {font-size: 30px; font-weight: 400;}
.main-recommand .recommand-visual .slider .item li:nth-child(3) {font-size: 30px; font-family: 'NanumSB'}
.main-recommand .recommand-visual .slider .item li:nth-child(4) {font-size: 24px; color: #6bdbff; font-family: 'NanumSB'; font-weight: 400; padding-top: 5px;}
.main-recommand .recommand-visual .slider .item li:nth-child(5) {font-size: 13px; color: #dbf7ff; line-height: 25px;}
.main-recommand .recommand-visual .slider .item a {position: absolute; display: block; bottom: 0; width: 100%; height: 57px; line-height: 57px; font-size: 18px; text-align: center; border-top: 1px solid #292929; background-color: #fff; box-sizing: border-box;}

/* 사이드바 */
#wrap aside {position: fixed; left: 50%; top: 170px; margin-left: 580px; z-index: 9999;}
#wrap aside .side-bar {width: 90px; border-top: 2px solid #292929; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); background-color: #fff;}
#wrap aside .side-bar li {height: 90px; text-align: center;}
#wrap aside .side-bar li:nth-child(1) {background: url(../images/aside_ico01.png) 50% 32% no-repeat; background-size: 37px 39px;}
#wrap aside .side-bar li:nth-child(2) {background: url(../images/aside_ico02.png) 50% 32% no-repeat; background-size: 37px 39px;}
#wrap aside .side-bar li:nth-child(3) {background: url(../images/aside_ico03.png) 50% 32% no-repeat; background-size: 37px 39px;}
#wrap aside .side-bar li:nth-child(4) {background-color: #f3f6fa;}
#wrap aside .side-bar li + li {border-top: 1px solid #ddd;}
#wrap aside .side-bar li a {display: block; width: 100%; height: 100%; padding-top: 60px; font-size: 12px; font-weight: 700; color: #767676; box-sizing: border-box;}
#wrap aside .side-bar li span {display: block; }
#wrap aside .side-bar li span.tel {padding-top: 10px; color: #397dd1; font-size: 20px; font-family: 'NanumSB'; line-height: 18px;}
#wrap aside .side-bar li span.time {padding-top: 7px; color: #767676; font-size: 12px; font-weight: 700; line-height: 15px;}
#wrap aside .side-bar a.btn-top {display: block; height: 30px; line-height: 30px; padding: 0; color: #fff; font-family: 'NanumSB'; font-weight: 700; text-align: center; background-color: #46494c;}

/* 하단 푸터 */
#wrap footer {}
#wrap footer .footer-wrap {}
#wrap footer .footer-wrap .info-tel {height: 100px; background-color: #3f4245; text-align: center;}
#wrap footer .footer-wrap .info-tel span {display: inline-block; padding-top: 17px; font-size: 20px; color: #fff; vertical-align: middle;}
#wrap footer .footer-wrap .info-tel span + span {padding-left: 40px; font-size: 45px; color: #61dcff; font-family: 'NanumSB'; font-weight: 400;}
#wrap footer .footer-wrap .address-wrap {height: 160px; background-color: #2f3133;} 
#wrap footer .footer-wrap .address-wrap .bottom-nav {width: 1100px; margin: 0 auto; padding: 30px 0;}
#wrap footer .footer-wrap .address-wrap .bottom-nav:after {content: ''; display: block; clear: both;}
#wrap footer .footer-wrap .address-wrap .bottom-nav li {float: left;}
#wrap footer .footer-wrap .address-wrap .bottom-nav li + li {margin-left: 20px;}
#wrap footer .footer-wrap .address-wrap .bottom-nav li a {display: inline-block; font-size: 15px; color: #fff; font-weight: 700;}
#wrap footer .footer-wrap .address-wrap .address {width: 1100px; margin: 0 auto; font-size: 12px; color: #999; letter-spacing: 0.05em;}
#wrap footer .footer-wrap .address-wrap .address p {}
#wrap footer .footer-wrap .address-wrap .address address{display: inline-block; padding-right: 20px;}
#wrap footer .footer-wrap .address-wrap .address span + span {padding-left: 20px;}
#wrap footer .footer-wrap .address-wrap .address .copy {line-height: 30px;}



/* 공통 */

.btn-type- {color: #; background-color: #;}

.btn-type-gray {color: #292929; background-color: #fff; border: 1px solid #ddd;}
.btn-type-blue {color: #292929; background-color: #fff; border: 1px solid #387cd1;}

.btn-type-gray1 {color: #fff; background-color: #767676;}
.btn-type-blue1 {color: #fff; background-color: #387cd1;}

a[class*="btn-type-"] {display: inline-block; text-decoration: none !important; text-align: center; box-sizing: border-box;}
a[class*="btn-type-"].small {min-width:52px; height:22px; border-radius:2px; font-size:13px; line-height:22px;}
a[class*="btn-type-"].medium {min-width: 52px; height: 30px; border-radius: 2px; font-size: 13px; line-height: 30px;}
a[class*="btn-type-"].big {min-width: 145px; height: 45px; line-height: 45px; border-radius: 4px; font-size: 18px;}

.item-checkbox {}
.item-checkbox input[type="checkbox"] {position: absolute; width: 15px; height: 15px; opacity: 0;}
.item-checkbox label {position: relative; margin-left: 50px;}
.item-checkbox label:before {content: ''; display: block; position: absolute; top: 0; left: -20px; width: 15px; height: 15px; background: url('../images/ico_checkbox_off.png') 0 0 no-repeat; -webkit-background-size: 15px 15px; background-size: 15px 15px;}
.item-checkbox input[type="checkbox"]:checked {}
.item-checkbox input[type="checkbox"]:checked + label {color: #387cd1;}
.item-checkbox input[type="checkbox"]:checked + label:before {background: url('../images/ico_checkbox_on.png') 0 0 no-repeat; -webkit-background-size: 15px 15px; background-size: 15px 15px; }

.item-radio {}
.item-radio input[type="radio"] {position: absolute; width: 15px; height: 15px; opacity: 0;}
.item-radio label {position: relative; margin-left: 50px;}
.item-radio label:before {content: ''; display: block; position: absolute; top: 0; left: -20px; width: 15px; height: 15px; background: url('../images/ico_radio_off.png') 0 0 no-repeat; -webkit-background-size: 15px 15px; background-size: 15px 15px;}
.item-radio input[type="radio"]:checked {}
.item-radio input[type="radio"]:checked + label {color: #387cd1;}
.item-radio input[type="radio"]:checked + label:before {background: url('../images/ico_radio_on.png') 0 0 no-repeat; -webkit-background-size: 15px 15px; background-size: 15px 15px;}




/* 공통 레이아웃 */
.content h1 {padding: 15px 0; font-size: 28px; color: #292929; border-bottom: 1px solid #ddd;}
.content .page-con {padding-bottom: 50px;}

.step-area {padding: 15px 0; text-align: right;}
.step-area li {position: relative; display: inline-block;}
.step-area li + li {margin-left: 5px;}
.step-area li:after {content:''; display: block; position: absolute; bottom: 0; width: 100%; height: 2px; background-color: #767676;}
.step-area li span {display: inline-block;}
.step-area li .step-num {font-size: 30px; font-family: 'NanumSB'; font-weight: 700; color: #767676; text-align: center;}
.step-area li .step-name {display: none; font-size: 20px; font-family: 'NanumSB'; font-weight: 400; color: #292929;}
.step-area li.active:after {background-color: #387cd1;}
.step-area li.active .step-num {color: #387cd1;}
.step-area li.active .step-name {display: inline-block;}

.info-area {padding: 20px; border: 1px solid #ddd;}
.info-area + .info-area {margin-top: 20px;}
.info-area .info-area-tit {font-size: 15px; color: #292929;}
.info-area .info-area-sub {line-height: 40px; font-size: 14px; color: #767676;}
.info-area a {}
.info-area .box-agree {padding: 10px; margin-top: 15px; background-color: #f9f9f9;}
.info-area .box-agree li {padding: 10px;}
.info-area .box-agree li .box-agree-tit {color: #767676;}
.info-area .box-agree li .item-checkbox {float: right;}
.info-area .box-agree li .item-radio {float: right;}

.btn-area {text-align: center; padding: 40px;}
.btn-area a {}
.btn-area a + a {margin-left: 20px;}

.box-gray-area {padding: 20px; border: 1px solid #ddd;}
.box-gray-area dt {position: relative; padding: 10px 0 10px 30px; font-size: 18px; font-family: 'NanumSB'; font-weight: 400; color: #292929; border-bottom: 1px solid #ddd;}
.box-gray-area dt:before {content: ''; display: block; position: absolute; top: 12px; left: 0; width: 20px; height: 20px; background: url('../images/ico_check.png') 0 0 no-repeat; -webkit-background-size: 20px 20px; background-size: 20px 20px;}
.box-gray-area dd {padding: 20px;}
.box-gray-area dd li {position: relative; color: #333; padding: 5px 0 5px 10px; }
.box-gray-area dd li:before {content: '- '; display: block; position: absolute; top: 2px; left: 0; color: #333;}
.box-gray-area dd li em {color: #387cd1; font-family: 'NanumSB'; font-weight: 400;}


















@media screen and (max-width : 374px) {

}